In [1]:
import openpyxl
import pandas as pd

In [2]:
file_list = ['2022_年間売上表.xlsx', '2023_年間売上表.xlsx']
df = pd.DataFrame()

for file_name in file_list:
    
    temp_df = pd.read_excel(file_name, header=None)
    
    temp_df.columns = ['売上年', '商品', '金額（千円）']
    df = pd.concat([df, temp_df], ignore_index=True)

In [3]:
df = df[df['売上年'] != '売上年']
df = df.sort_values('商品', ascending=True)

In [4]:
df_mount = df.groupby(['商品', '売上年']).sum()
df_mount

               金額（千円）
商品       売上年
アロマキャンドル 2022    1710
         2023     900
コーヒー豆    2023     860
セッケン     2022    1300
         2023    1300
ハチミツ     2022    1860
         2023    1000
フライパン    2023     670
ワイングラス   2022     850
         2023     850
包丁       2022     940
         2023     940
水筒       2022    1150
         2023    1400
紅茶       2022    2000
         2023    1870

In [5]:
df_mount = df_mount.reset_index()
df_mount

          商品   売上年  金額（千円）
0   アロマキャンドル  2022    1710
1   アロマキャンドル  2023     900
2      コーヒー豆  2023     860
3       セッケン  2022    1300
4       セッケン  2023    1300
5       ハチミツ  2022    1860
6       ハチミツ  2023    1000
7      フライパン  2023     670
8     ワイングラス  2022     850
9     ワイングラス  2023     850
10        包丁  2022     940
11        包丁  2023     940
12        水筒  2022    1150
13        水筒  2023    1400
14        紅茶  2022    2000
15        紅茶  2023    1870

In [6]:
writer = pd.ExcelWriter('売上集計表.xlsx')
df_mount.to_excel(writer, sheet_name='Sheet1', index=False)
writer.close()

In [7]:
#excelファイルに色付け
workbook = openpyxl.load_workbook('売上集計表.xlsx')
ws = workbook.active
fill = openpyxl.styles.PatternFill(patternType='solid', fgColor='F2F2F2', bgColor='F2F2F2')
for rows in ws['A1':'C1']:
    for cell in rows:
        cell.fill = fill

workbook.save('売上集計表.xlsx')
workbook.close()